/* Elements */
body {
    background-color: rgb(39, 62, 71);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
}

a {
    color: white;
}
/* Classes */
.message {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    font-family: 'Amiko', sans-serif;
    color: white;
    padding: 30px;
    font-size: 56px;
}
.btn {
    margin: 20px
}
.footer {
    text-align: center;
    padding: 100px 20px 20px 20px;
    color: white;
}
/* IDs*/
#title {
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 2px 2px 2px black;
    padding: 0 20px 20px 20px;
    text-align: right;
    font-family: 'Mada', sans-serif;
}
